* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-image: url(img/diario-img-body.avif);
}


.container-presentacion {
    padding: 100px;
}
.img-laola {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-laola img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    
}
.presentacion {
    background: rgba(0, 0, 0, 0.685);;
	backdrop-filter: 0.4rem;
    padding: 10px;
}
.presentacion h1, h2 {
    color: #fff;
    text-align: center;
    padding: 10px;
}
.presentacion p {
    color: #fff;
    text-align: start;
    font-size: 18px;
}
.director {
  font-size: 16px;  
}


.container-publicidad{
    padding-top: 50px;
}
.container-publicidad h3 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.685);;
	backdrop-filter: 0.4rem;
    

}
.publicidad{
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}
.img-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-mobile img {
    width: 500px;
    
}
.publicidad img {
    width: 1200px;
    
}





.card-w {
    text-align: center;
    padding-top: 50px;
    margin: 10px;
}
.container {
    display: inline-block;
    margin-left: 20px;
    height: 450px;
    width: 300px;
    box-shadow: 0 10px 20px #000;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #fff;
    
}


.container2 {
    display: inline-block;
    margin-left: 20px;
    height: 450px;
    width: 300px;
    box-shadow: 0 10px 20px #000;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #000;
    
    
}

.shape {
    background-color: #000;
    height: 250px;
    width: 400px;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(25deg);

}


.shape2 {
    background-color: #fff;
    height: 250px;
    width: 400px;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(25deg);

}

.image {
    height: 100px;
    width: 100px;
    background-image: url(img/walter-img.jpg);
    position: relative;
    top: 200px;
    margin-left: 170px;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg);
}


.image2 {
    height: 100px;
    width: 100px;
    background-image: url(img/laola.png);
    position: relative;
    top: 200px;
    margin-left: 170px;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg);
}

.title {
    font-size: 15px;
    padding-bottom: 6px;
    color: #0093AF;
}

h3 {
    margin-bottom: 10px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
    color: rgb(105, 100, 109);
    font-size: 15px;
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: .3s;
    color: rgb(40, 163, 194 );
}

.icons i:hover {
    transform: scale(1.2);
}


@media (min-width: 300px) and (max-width: 1200px) {

   .container {
   margin-top: 300px;
   }
  
   .container2 {
    margin-top: 100px;
   }

   body {
    margin-top: 50px;
   }
   .container-publicidad h3{
    width: 100%;
    font-size: 25px;
   }
}

@media only screen and (max-width: 520px){
    .container-presentacion {
        padding: 0;
    }
    
.img-mobile {
    padding-top: 50px;
}

    .img-mobile img {
        width: 300px;
    }
}

@media only screen and (max-width: 360px) {
    .container{
       width: 80%;
       max-width: 100%;
       height: auto;
       margin: 0 auto;
       
    }

    .container2{
        width: 80%;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
        
     }
}

@media only screen and (max-width: 1200px) {
    .publicidad img {
        display: none;

    }

}

@media only screen and (min-width: 1200px){
    .img-mobile img{
        display: none;
    }
}